configure terminal
   interface Lo0
     description Loopback interface
     ip address 10.100.200.1 255.255.255.255
     no shutdowm
     exit
   interface G0/0
     description Connection to Spine1
     ip address 10.10.10.2 255.255.255.252
     no shutdowm
     exit
   interface G0/1
     description Connection to Spine2
     ip address 10.10.10.6 255.255.255.252
     no shutdowm
     exit
