{% for item in devices[ansible_host] %}
  interface {{ item.name }}
    description {{ item.description }}
    ipv4 address {{ item.address }}{{ item.prefix_length }}
{% if item.mbps != "" %}
    service-policy input {{ item.mbps }}Mb
    service-policy output {{ item.mbps }}Mb
{% endif %}
    no shutdown
    exit
{% endfor %}
