
{% for port,value in interface.items() %}
   interface {{ port }} {{ value.name }}
     description {{ value.description }}
     ip address {{ value.address] }} {{ value.mask }}
     no shutdowm
     exit
{% endfor %}

